<div>
    <form [formGroup]="calculadora">
        <div>
            <fieldset formArrayName="numbers">
                <legend>Valores</legend>
                <div *ngFor="let n of numberS.controls">
                    <input  type="checkbox"  id="" value="n" unchecked >
                    <label for="">{{n.value}}</label>
                </div>
            </fieldset>
        </div>

        <div>
            <fieldset >
                <legend>Valores</legend>
                <div  *ngFor="let op of operadoreS.controls">
                    <input type="radio" value="op" id="" (click)="operador(op)">
                    <label for="">{{op.value}}</label>
                </div>
            </fieldset>
        </div>

        <div>
            <button  >Ver Operacion</button>
            <button>Limpiar</button>
            <button>Resultado</button>
        </div>
        
    </form>
</div>